<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cecs343.bpmontor">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To connect to database -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_design"
        android:label="BP Monitor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/welcome"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ViewMedSchedule"
            android:label="Medicine Schedule"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewBPHistory"
            android:label="Blood Pressure History"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewMedHistory"
            android:label="Medication History"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RecordMed"
            android:label="Record Medication"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RecordBp"
            android:label="Record Blood Pressure"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SelectPatient"
            android:label="Select A Patient"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UpdateSchedule"
            android:label="Update Schedule"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DeleteMeds"
            android:label="Delete Medication"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddMed"
            android:label="Add Medication"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>